body {
  background-color: #003399;
}

#content {
  border: 0px
}

.blogBox img {
  float: right;
}

#headerBox {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #000000;
  border-radius: 10px;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px -200px;
    background-color: blue;
  }
}

.paraBox {
  border-radius: 10px;
  text-align: center;
  font-style: italic;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px -200px;
    background-color: blue;
  }
}

.paraBox1 {
  border: 1px solid;
padding: 10px;
box-shadow: 5px 10px #000000;

  width: 600;
  margin: auto;
  border-radius: 10px;
  padding: 100px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px -200px;
    background-color: blue;
  }
}

.NavBox {
  border: solid 10px;
  border-radius: 10px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px -200px;
    background-color: blue;
  }
}
.button {
  flex: space-evenly;
  border-radius: 10px;
  background: red;
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 200px -200px;
    background-color: blue;
  }
}
}
